
body{
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}


/* ************Header********** */

#header-img-D {
    width: 100%;
    background: url(./img/Asset\ 1.svg);
    display: block;
}
#header-img-M{display: none}

#bottom-img-D {
    width: 100%;
    display: block;
    /* background: url(./img/Asset\ 3.svg) no-repeat left bottom; */
}
#bottom-img-M{display: none}

#logo{
    width: 15%;
    display: block;
    float: right;
    padding-right: 18vw;
    padding-top: 3vw;
}

h1.main {
    font-family: 'Domine', serif;
    font-size: 4.5vw;
    color: #273043;
    margin: 0;
    font-weight: normal;
}

h4.main {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3vw;
    color: #9197AE;
    font-weight: normal;
    padding-top:.5vw;
    padding-bottom: .5vw; 
}

h3.main {
    font-family: 'Domine', serif;
    font-size: 2vw;
    color: #39CCC7;
    margin: 0;
    font-weight: normal;
}

button.main{
    font-family: 'Roboto', sans-serif;
    font-size: 1.3vw;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-left: 15px;
    border: 1px solid;
    border-color: #39CCC7;
    background: inherit;
    border-radius: 2px;
}

button.main:hover{
    font-family: 'Roboto', sans-serif;
    font-size: 1.3vw;
    color: white;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-left: 15px;
    border: 1px solid;
    border-color: #39CCC7;
    background: #39CCC7;
    border-radius: 2px;
    transform: scale(1.25);
    transition: .3s;
}
#button-M{ display: none}

/* ************Body********** */
#link{
    color: #39CCC7;
}
#link-img:hover{
    transform:scale(0.9);
    transition: .3s;
}
#linkedin{
    width: 15%;
    margin-left: 50%;
    margin-bottom: 3vw;
    float: left;

}
#linkedin:hover{
    transform: scale(1.25);
    transition: .3s;
}

#mail{
    margin-top: 1%;
    margin-right: 5%;
    width: 20%;
    float: right;
}
#mail:hover{
    transform: scale(1.25);
    transition: .3s;
}
#contact{
    width: 30%;
    float: right;
    margin-right:0;
    margin-left: 70%;
    max-height: fit-content;
}

#d1{
    margin: 6vw 8vw; 
    overflow: auto
}
#d2{
    margin: 0vw 8vw 8vw;
    overflow:auto
}
#d3{
    margin: 8vw 8vw;
    overflow:auto
}
h2.right{
    font-family: 'Domine', serif;
    font-size: 2.75vw;
    float:right;
    color: #273043;
    margin: 0;
}
h3.right {
    font-family: 'Domine', serif;
    font-size: 2vw;
    text-align: right;
    color: #39CCC7;
    margin: 0;
    font-weight: normal;
}
p.right {
    font-family: 'Roboto', sans-serif;
    font-size: 1.3vw;
    color: #9197AE;
    font-weight: normal;
    text-align: right;
    margin-top: 2em;
    width: 50vw;
    float: right;
}
img.right{
    float: left;
    display: block;
    width: 20%;
}

img.right-b{
    float: left;
    display: block;
    width: 30%;
}


h2.left{
    font-family: 'Domine', serif;
    font-size: 2.75vw;
    color: #273043;
    margin: 0;
}
h3.left {
    font-family: 'Domine', serif;
    font-size: 2vw;
    color: #39CCC7;
    margin: 0;
    font-weight: normal;
}
p.left {
    font-family: 'Roboto', sans-serif;
    font-size: 1.3vw;
    color: #9197AE;
    font-weight: normal;
    text-align: left;
    margin-top: 2em;
    width: 50vw;
}
img.left{
    float: right;
    display: block;
    width: 30%;
}

footer {
    width: 100%;
    display: block;
    background: url(./img/Asset\ 8.svg) no-repeat left bottom;
}

@media screen and (max-width: 768px){
    #header-img-M {
        width: 100%;
        background: url(./img/Asset\ 10.svg);
        display: block;
    }
    #header-img-D{display: none}

    #logo{ display: none}

    #bottom-img-M {
        width: 100%;
        display: block;
        /* background: url(./img/Asset\ 3.svg) no-repeat left bottom; */
    }
    #bottom-img-D{display: none}

    h1.main {
        font-family: 'Domine', serif;
        font-size: 8vw;
        padding-left:1em; 
        color: #273043;
        margin: 0;
        font-weight: normal;
    }

    h4.main {
        margin: 0;
        font-family: 'Roboto', sans-serif;
        padding-left: 2.8em;
        font-size: 3vw;
        color: #9197AE;
        font-weight: normal;
        padding-top:.5vw;
        padding-bottom: .5vw; 
    }

    h3.main {
        font-family: 'Domine', serif;
        font-size: 4vw;
        padding-left: 2.1em;
        color: #39CCC7;
        margin: 0;
        font-weight: normal;
    }

    #button-D{display: none}
    #button-M
    {
        display: block;
        margin: 15vw;
    }
    button.main{
        align-content: center;
        font-family: 'Roboto', sans-serif;
        font-size: 3vw;
        display: block;
        width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
        border: 2px solid;
        border-color: #39CCC7;
        background: inherit;
        border-radius: 4px;
    }

    button.main:hover{
        align-content: center;
        font-family: 'Roboto', sans-serif;
        font-size: 3vw;
        display: block;
        width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
        border: 2px solid;
        border-color: #39CCC7;
        border-radius: 4px;
        background: #39CCC7;
        color: white;
        cursor: pointer;
    }

    #d1{
        margin-right: 7.5vw; 
        margin-left: 7.5vw;
        overflow: auto
    }
    #d2{
        margin-right: 7.5vw; 
        margin-left: 7.5vw;
        overflow: auto
    }
    #d3{
        margin-right: 7.5vw; 
        margin-left: 7.5vw;
        overflow: auto
    }

    h2.right{
        font-family: 'Domine', serif;
        font-size: 6vw;
        float: none;
        text-align:center;
        color: #273043;
        margin: 6vw;
        padding-bottom: 3vw;
    }
    h3.right {
        font-family: 'Domine', serif;
        font-size: 4vw;
        color: #39CCC7;
        margin: 6vw;
        text-align: center;
        font-weight: normal;
    }
    p.right {
        font-family: 'Roboto', sans-serif;
        font-size: 3vw;
        color: #9197AE;
        font-weight: normal;
        text-align: center;
        margin: auto;
        padding-top: 3em;
        width: 70vw;
        float: none;
    }
    img.right{
        margin:auto;
        display: block;
        float:none;
        width: 70%;
    }

    img.right-b{
        margin:auto;
        float: none;
        display: block;
        width: 70%;
    }


    h2.left{
        font-family: 'Domine', serif;
        font-size: 6vw;
        float: none;
        text-align:center;
        color: #273043;
        margin: 6vw;
        padding-bottom: 3vw;
    }
    h3.left {
        font-family: 'Domine', serif;
        font-size: 4vw;
        color: #39CCC7;
        margin: 6vw;
        text-align: center;
        font-weight: normal;
    }
    p.left {
        font-family: 'Roboto', sans-serif;
        font-size: 3vw;
        color: #9197AE;
        font-weight: normal;
        text-align: center;
        margin: auto;
        padding-top: 3em;
        width: 70vw;
        float: none;
    }
    img.left{
        margin:auto;
        float: none;
        display: block;
        width: 70%;
    }

    footer {
        width: 100%;
        display: block;
        background: url(./img/Asset\ 12.svg) no-repeat left bottom;
    }
        
        

}